ul.nav a:hover {
  color: darkred !important;
}
.navbar {
  margin-top: -21px;
}
.panel-primary {
  margin-left: 3em;
  width: 60%;
}
.center {
  text-align: -webkit-right;
  margin-top: -20px;
}
.secondlabel {
  display: inline-block;
  text-align: left;
}
.btn {
  margin-left: 3em;
}

.right-container {
  float: right;
  width: 49%;
  margin-right: 1em;
}

.left-container {
  float: left;
  width: 49%;
  margin-right: 1em;
}

.form-group {
  margin-left: 3em;
}

