ul.nav a:hover {
  color: darkred !important;
}
.navbar {
  margin-top: -21px;
}
.panel-primary {
  margin-left: 5em;
  width: 30%;
}
.center {
  text-align: center;
  margin-top: -20px;
}
.secondlabel {
  display: inline-block;
  text-align: left;
}
