<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"[routerLink]="['']"></a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/offenders',singleOffender.offenderID,'events']"><fa-icon [icon]="faListUl"></fa-icon> Hændelser</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/offenders',singleOffender.offenderID,'details']"><fa-icon [icon]="faAddressCard"></fa-icon> Oplysninger</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/offenders', singleOffender.offenderID,'equipment']"><fa-icon [icon]="faHdd"></fa-icon> Udstyr</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-primary" [routerLink]="['/offenders/create']"><fa-icon [icon]="faUserPlus"></fa-icon> Opret ny forbryder</a>
        </p>
      </li>
    </ul>
  </div>
  <div></div>
</nav>
<app-not-found *ngIf="errorLoading"></app-not-found>

<div class="left-container">
<div class="panel panel-primary">
  <div class="panel-heading">Grundinformation</div>
  <div class="panel-body">
    <span class="firstlabel">CPR:</span>
    <div class="center">
      <span class="secondlabel">{{singleOffender.cpr}}</span>
    </div>
  </div>
  <div class="panel-body">
    <span class="firstlabel">Fulde navn:</span>
    <div class="center">
      <span
        class="secondlabel">{{singleOffender.firstName}} {{singleOffender.middleName}} {{singleOffender.lastName}}</span>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Bolig information</div>
  <div class="panel-body">
    <div>
      <span class="firstlabel">Adresse:</span>
    </div>
    <div class="center">
      <span class="secondlabel">{{singleOffender.address}}</span>
    </div>
  </div>
  <div class="panel-body">
    <span class="firstlabel">By & postnummer: </span>
    <div class="center">
      <span class="secondlabel">{{singleOffender.city}}, {{singleOffender.zip}}</span>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Overvågnings oplysninger</div>
  <div class="panel-body">
    <div>
      <span class="firstlabel">Startdato:</span>
    </div>
    <div class="center">
      <span class="secondlabel">{{singleOffender.startDate}}</span>
    </div>
  </div>
  <div class="panel-body">
    <span class="firstlabel">Slutdato: </span>
    <div class="center">
      <span class="secondlabel">{{singleOffender.endDate}}</span>
    </div>
  </div>
</div>

<button type="submit" class="btn btn-danger" (click)=deleteOffender()><fa-icon [icon]="faUserMinus"></fa-icon>  Slet denne forbryder</button>
</div>

<div class="right-container">
  <!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md offset-2">-->
  <form [formGroup]="commentForm" (ngSubmit)="addComment()">
    <div class="form-group">
      <label>
        Tilføj bemærkelse / kommentar:
        <input id="comment" type="text" formControlName="comment" required ngModel class="form-control">
      </label>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!commentForm.valid"><fa-icon [icon]="faComment"></fa-icon>  Tilføj bemærkelse/kommentar</button>
  </form>
<br>
  <div class="panel panel-primary" *ngIf="!noComments">
    <div class="panel-heading">Kommentarer</div>
    <div class="panel-body" *ngFor="let comments of convertedCommentArray">
      <div>
        <span class="firstlabel">{{comments.timeStamp}}</span>
      </div>
      <div class="center">
        <span class="secondlabel">{{comments.comment}}</span>
      </div>
    </div>
  </div>

  <div class="panel panel-primary" *ngIf="noComments">
    <div class="panel-heading">Kommentarer</div>
    <div class="panel-body">
      <div>
        <span class="firstlabel">Der er ingen kommentarer tilknyttet denne forbryder</span>
      </div>
    </div>
  </div>


</div>



