<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"[routerLink]="['']"></a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/offenders', singleOffender.cpr, 'events']" >Hændelser</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/offenders',singleOffender.cpr,'details']">Oplysninger</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/offenders/:cpr/equipment']">Udstyr</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-primary" [routerLink]="['/offenders/create']"><span class="far fa-arrow-alt-circle-down"></span>Opret ny forbryder</a>
        </p>
      </li>
    </ul>
  </div>
  <div></div>
</nav>

<h2>Get single offender test: {{singleOffender.cpr}}</h2>
<p>
  offender-details works!
</p>
