<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"[routerLink]="['']"></a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/offenders',singleOffender.offenderID,'newEvents']"><fa-icon [icon]="faExclamationCircle"></fa-icon> Nye hændelser</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/offenders',singleOffender.offenderID,'handledEvents']"><fa-icon [icon]="faCheckCircle"></fa-icon> Behandlede hændelser</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/offenders',singleOffender.offenderID,'details']"><fa-icon [icon]="faAddressCard"></fa-icon> Oplysninger</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/offenders', singleOffender.offenderID,'equipment']"><fa-icon [icon]="faHdd"></fa-icon> Udstyr</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-primary" [routerLink]="['/offenders/create']"><fa-icon [icon]="faUserPlus"></fa-icon> Opret ny forbryder</a>
        </p>
      </li>
    </ul>
  </div>
</nav>

<app-not-found *ngIf="errorLoading"></app-not-found>

<table class="table table-striped table-hover" *ngIf="!noEvents">
  <thead>
  <tr>
    <th>Navn</th>
    <th>Begivenheds type</th>
    <th>Tidspunkt</th>
  </tr>
  </thead>
  <tbody>
  <tr class="clickable" [routerLink]="[singleOffender.offenderID, 'details']" *ngFor="let Event of eventArray">
    <td>{{ Event.firstName }} {{Event.middleName}} {{Event.lastName}}</td>
    <td>{{ Event.eventType }}</td>
    <td>{{ Event.time }}</td>
  </tr>
  </tbody>
</table>
<div class="h2">
  <h2 *ngIf="noEvents">Ingen behandlede hændelser for denne forbryder</h2>
</div>
<router-outlet></router-outlet>
