.panel {
  width: 100%;
  right: 0;
  display: flow;
  margin-left: auto;
}

.secondlabelhover {
  cursor: pointer;
  color: sandybrown;
  text-decoration: underline;
}
.secondlabelhover:hover {
  color: blue;
  text-decoration: underline;
}

.right-container {
  float: right;
  width: 40%;
  margin-right: 5em;
}

.center {
  text-align: -webkit-right;
  margin-top: -20px;
}
