
<form class="formMaster" [formGroup]="signInForm" (ngSubmit)="signIn()">
  <h2>Log ind med E-mail og password</h2>
  <div class="form-group">
    <label>
      E-mail:
      <input type="text" formControlName="email" email required ngModel class="form-control">
    </label>
    <br>
    <label>
      Password:
      <input type="password" formControlName="password" required ngModel class="form-control">
    </label>
  </div>
  <div *ngIf="invalidCrediantials">
    <p style="color:red">Forkert E-mail eller password</p>
  </div>
  <!--<button class="btn btn-primary" type="submit" [disabled]="!signInForm.valid"><fa-icon [icon]="faSignInAlt"></fa-icon> Log ind</button>-->
  <button class="btn btn-primary" type="submit"><fa-icon [icon]="faSignInAlt"></fa-icon> Log ind</button>
</form>

<!--<p>
  Form Status: {{ signInForm.status }}
  <br>
  Form Value: {{signInForm.value}}
</p>
&lt;!&ndash;DEBUG&ndash;&gt;
<p>Fields valid?</p>
<pre>Email: {{signInForm.get('email').valid}}</pre>
<pre>Password: {{signInForm.get('password').valid}}</pre>-->
