<table class="table table-striped table-hover">
  <app-could-not-load *ngIf="errorLoading"></app-could-not-load>
  <app-load-spinner *ngIf="showSpinner"></app-load-spinner>
  <thead>
  <tr>
    <th>Navn</th>
    <th>Begivenheds type</th>
    <th>Tidspunkt</th>
  </tr>
  </thead>
  <tbody>
  <tr class="clickable" [routerLink]="[eventIDArray[x], 'details']" *ngFor="let Event of convertedEventArray; let x = index;">
    <td>{{ Event.firstName }} {{Event.middleName}} {{Event.lastName}}</td>
    <td>{{ Event.eventType }}</td>
    <td>{{ Event.time }}</td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
<!--<button type="submit" (click)=getEventID()>Submit</button>-->
