<p>offender-list.component</p>

<!--<ul>
  <li *ngFor="let item of offenders; let i = index">
    {{i}} {{item}}
  </li>
</ul> -->

<button class="btn-primary" (click)="getAll()">Get offenders</button>
<ul class="offenders">
  <li>test over ngFor med iteration af rigtig? test</li>
  <div *ngFor="let objects of offendersarray2">
    <li *ngFor="let forbryder of objects | keyvalue">{{forbryder.key}}:{{forbryder.value}}</li>
    <!--<li *ngFor="let offender of objects">{{ offender.offenderId }}</li>-->
  </div>
</ul>
