<button type="button" class="btn btn-primary" [routerLink]="['/offenders/create']">Opret ny forbryder</button>
<table class="table table-striped table-hover">
  <app-not-found *ngIf="errorLoading"></app-not-found>
  <app-load-spinner *ngIf="showSpinner"></app-load-spinner>
  <thead>
  <tr>
    <th>ID</th>
    <th>Fornavn</th>
    <th>Mellemnavn</th>
    <th>Efternavn</th>
    <th>By</th>
  </tr>
  </thead>
  <tbody>
  <tr class="clickable" [routerLink]="['/offenders', Offender.offenderID, 'details']" *ngFor="let Offender of convertedOffenderArray">
    <td>{{Offender.offenderID}}</td>
    <td>{{ Offender.firstName }}</td>
    <td>{{ Offender.middleName }}</td>
    <td>{{ Offender.lastName }}</td>
    <td>{{ Offender.city }}</td>
  </tr>
  </tbody>
</table>

<ul class="offenders">
  <li>test over ngFor med iteration af rigtig? test</li>
  <div *ngFor="let offender of convertedOffenderArray">
    <li >{{offender.middleName}}</li>
  </div>
</ul>
<p>Test af list ID</p>
<ul class="offenders">
  <div *ngFor="let item of objectArray | keyvalue">
    <li >{{item.key}}</li>
  </div>
</ul>

