<div style="overflow: auto;" class="list-group-item list-group-item-action" *ngFor="let Event of events">
  <div class="col-xs-12">
    <a href="#">
      <div class=.col-md-4>
        <h2 class="col-md-4">{{ Event.eventType }}</h2>
      </div>
      <div class=.col-md-4>
        <h2 class="col-md-4">{{ Event.user }}</h2>
      </div>
      <div class=.col-md-4>
        <h2 class="col-md-4">{{ Event.time }}</h2>
      </div>
    </a>
  </div>
</div>

<!--<div class="table-striped">
  <thead>
  <tr>
    <th>Event type</th>
    <th>Klient</th>
    <th>Tidspunkt</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let Event of events">
    <td>{{ Event.eventType }}</td>
    <td>{{ Event.user }}</td>
    <td>{{ Event.time }}</td>
  </tr>
  </tbody>
</div>-->
