<app-not-found *ngIf="errorLoading"></app-not-found>
<app-load-spinner *ngIf="showSpinner"></app-load-spinner>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Navn</th>
    <th>Begivenheds type</th>
    <th>Tidspunkt</th>
  </tr>
  </thead>
  <tbody>
  <tr class="clickable" [routerLink]="[eventIDArray[x], 'details']" *ngFor="let Event of convertedEventArray; let x = index;">
    <td>{{ Event.firstName }} {{Event.middleName}} {{Event.lastName}}</td>
    <td>{{ Event.eventType }}</td>
    <td>{{ Event.time }}</td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
