<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Navn</th>
    <th>Begivenheds type</th>
    <th>Tidspunkt</th>
  </tr>
  </thead>
  <tbody>
  <tr class="clickable" [routerLink]="['/offendersprofile']" *ngFor="let Event of convertedEventArray"  >
    <td>{{ Event.firstName }} {{Event.middleName}} {{Event.lastName}}</td>
    <td>{{ Event.eventType }}</td>
    <td>{{ Event.time }}</td>
  </tr>
  </tbody>
</table>

<!--<div class="container">
    <app-events-item></app-events-item>
</div>-->
