<!--<app-sub-header></app-sub-header>-->
<!--<h2>Get single offender test: {{singleOffender.cpr}}</h2>-->
<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"[routerLink]="['']"></a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/offenders', someString, 'details']" >Hændelser</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/offenders/:cpr/details']">Oplysninger</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/offenders/:cpr/equipment']">Udstyr</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/create']"><span class="far fa-arrow-alt-circle-down"></span>Opret ny forbryder</a></li>
    </ul>
  </div>
  <div></div>
</nav>-->
<router-outlet></router-outlet>

